.compare-container{
    margin-top:1em;
}

.compare-container h1{
    margin-bottom: 2em;
}

.compare-result-container{
    margin-top:1em;
}

.empty-header-cell{
    box-shadow: unset !important;
}

.custom-delete-icon{
    color:orangered;
    transition: all 0.15s ease-in-out;
}
.custom-delete-icon:hover{
    color:red;
    cursor: pointer;
}

.custom-tooltip{
    overflow-y: unset !important;
    max-height: unset !important;
}

.reset-button-container{
    margin-top:1em;
    text-align: right;
}

.custom-segment{
    padding:0 !important;
    background-color: unset !important;
}
.custom-dimmer{
    overflow-y: unset !important;
}