.my-header{
    width:100%;
    background-color:#5999a7;
    box-shadow: 0 0 10px grey;
}
.my-header nav{
    display: inline-block;
}
.header-title{
    display: inline-block;
    font-size:1.5em;
    margin-right:1em;
    margin-left:1em;
    color:white;
}
.header-nav-links{
    padding:1.5em;
    border-bottom:solid 3px #5999a7;
    border-top:solid 3px #5999a7;
    display:inline-block;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color:inherit;
}

.header-nav-links:hover{
    border-bottom-color:white;
    color:white;
    cursor:pointer;
}

.header-link-active{
    border-bottom-color:white;
}