body{
    background-color: #253f46;
    color:lightgrey;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.no-border{
    border:none !important;
}
.no-shadow{
    box-shadow:unset !important;
}
